PORT=3000
HOST=0.0.0.0
ADMIN_USER=admincipa
ADMIN_PASSWORD=Cipa@2027@
SESSION_SECRET=troque-por-uma-frase-longa-e-secreta
PUBLIC_URL=http://IP-DO-SERVIDOR:3000
TRUST_PROXY=false
COOKIE_SECURE=false
DATA_DIR=./data
BACKUP_DIR=./data/backups
